/*html{
    background: url(media/images/back.jpg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    font-family: calibri;
    animation-name: background_color;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}*/